body {
    margin: 0;
    overflow: hidden;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    box-sizing: border-box;
    /*visibility: hidden;*/
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.square-btn {
    width: 36px;
    height: 36px;
}

.credit {
    font-size: 14px;
    text-align: center;
    display: none;
}